@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    background: rgb(20, 19, 19); 
    font-family: "Chewy", system-ui;
}

footer {
    background-color: rgb(118, 119, 119);
    text-align: center;
    clear: both;
    color: rgb(20, 19, 19);
    padding: 2rem;
    margin-top: auto;
}

header {
    background-color: rgb(20, 19, 19);
}

h1, h2, h3 {
    background: repeating-conic-gradient(rgb(20, 19, 19) 0% 25%, rgb(235, 58, 40) 0% 50%) 50% / .25rem .25rem;
    background-clip: text;
    text-align: center;
    font-size: 3rem;
    font-family: "Knewave", system-ui;
    color: transparent;
    padding: 0;
    margin: 0;
}

p {
    margin: .5rem;
}

nav ul {
    display: none;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(248, 235, 240);
    padding: 1rem;
    gap: 1rem;
}

nav a {
    color: rgb(230, 126, 34);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "BBH Sans Hegarty", serif;
}

nav ul.active {
    display: flex;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vintage-wheel {
    display: none;
}

.vintage-wheel-left {
    margin-left: auto;
}

.vintage-wheel-right {
    margin-right: auto;
}

.vintage-wheel:hover {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
    
.main-section {
    background-color: rgb(118, 119, 119);
    border-radius: 1rem;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: rgb(118, 119, 119);
    cursor: pointer;
    padding: 0.5rem;
}

@media (min-width: 481px){
}

@media (min-width: 1025px){
    .hamburger {
        display: none;
    }

    .vintage-wheel {
        max-width: 10%;
        max-height: 5%;
        padding: 0;
	display: block;
    }

    .main-grid {
        grid-template-columns: 1fr 3fr 1fr;
        display: grid;
        gap: 1rem;
    }


    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8rem;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        background-color: rgb(118, 119, 119);
        border-radius: 1rem;
    }

    nav a {
        color: rgb(20, 19, 19);
        text-decoration: none;
        font-size: 1.5rem;
        font-family: "Knewave", system-ui;
    }

    nav a:hover {
        background-color: rgb(246, 246, 245);
        padding: 1rem;
        border-radius: 1rem;
    }

}

